<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="logo" style="max-height: 70px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto d-flex flex-grow-1 justify-content-center text-uppercase" style="max-height: 70px;">
        <li class="nav-item">
          <a class="me-3 py-2 text-decoration-none" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="me-3 py-2 text-decoration-none" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="me-3 py-2 text-decoration-none" routerLink="/test-error" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Errors</a>
        </li>
        <li class="nav-item">
          <a class="me-3 py-2 text-decoration-none" href="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative  mx-5 text-decoration-none text-dark ">
          <fa-icon [icon]="faCartShopping" size="2x"></fa-icon>
          <div class="cart-no" *ngIf="(this.basketService.basket)">
            {{this.basketService.basket.items.length}}
          </div>  
        </a>
    
        <a href="#" class="btn btn-outline-secondary  me-3">Login</a>
        <a href="#" class="btn btn-outline-secondary  me-3">Sign up</a>
      </div>
    </div>
  </div>
</nav>