<div class="card shadow-sm">
    <img src="{{item?.pictureUrl}}" alt="{{item?.name}}" style="height: 406px; width: 305px; object-fit: cover;">

    <div class="card-body d-flex  flex-column">
      <a href="#" class="text-decoration-none flex-grow-1">
        <p class="card-text">
            {{item?.name}}
        </p>

        <span></span>

        <div class="btn-group ">
            <button type="button">
                Cart
            </button>
            <button type="button">
                View
            </button>
        </div>
      </a>
    </div>
</div>