<div class="container">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning ms-3">Sort</h5>
      <select class="custom-select mb-3" (change)="onSortSelect($event)">
        <option *ngFor="let item of sortOptions" [value]="item.value">
          {{ item.name }}
        </option>
      </select>

      <h5 class="text-warning ms-3">Types</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of types"
          [value]="item.id"
          (click)="onSelectProductType(item.id)"
          [class.active]="item.id === typeIdSelected"
        >
          {{ item.name }}
        </li>
      </ul>

      <h5 class="text-warning ms-3">Brands</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of brands"
          [value]="item.id"
          (click)="onSelectProductBrand(item.id)"
          [class.active]="item.id === brandIdSelected"
        >
          {{ item.name }}
        </li>
      </ul>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
        [pageNumber]="this.pageNumber"
        [pageSize]="this.pageSize"
        [totalCount]="this.totalCount"
        ></app-paging-header>
        <div class="row">
          <div class="col">
            <input #search (keyup.enter)="onSearch()" (keyup.escape)="onReset()" type="text" class="form-control my-2" placeholder="Search" style="width: 200px"
            />
          </div>
          <div class="col">
            <button class="btn btn-primary my-2" (click)="onSearch()">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success my-2" (click)="onReset()">
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>

      <div class="d-flex justify-content-center py-4" *ngIf="this.totalCount && this.pageSize > 0">
        <app-pager
          [pageSize]="this.pageSize"
          [totalCount]="this.totalCount"
          (pageNumber)="onPageChanged($event)"
        >
        </app-pager>
      </div>
    </section>
  </div>
</div>
